<a href="https://colab.research.google.com/github/EminJoy18/TannMannGaadi_Internship/blob/main/Handling_missing_values_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

## **Pandas utility functions**

Similarly to numpy , pandas also has a few utility functions to identify and detect null values:

Numpy has an object ***nan - not a number*** to identify null values

In [ ]:
pd.isnull(np.nan)

True

In Python, we have 'None' value

But in pandas and numpy, we use 'nan'

In [ ]:
pd.isnull(None)

True

.isnull() and .isna() are the same functions

In [ ]:
pd.isna(np.nan) , pd.isnull(None)

(True, True)

We have their opposites as well

In [ ]:
pd.notnull(3)  #True since, 3 is a an actual values

True

In [ ]:
pd.notnull(None)

False

In [ ]:
pd.notnull(np.nan)

False

In [ ]:
pd.notna(None) , pd.notna(np.nan)

(False, False)

Trying this on Series and Dataframe

In [ ]:
a = pd.Series([1 , np.nan , 3])

In [ ]:
pd.isnull(a)

0    False
1     True
2    False
dtype: bool

In [ ]:
a

0    1.0
1    NaN
2    3.0
dtype: float64

In [ ]:
pd.notnull(a)

0     True
1    False
2     True
dtype: bool

In [ ]:
a = pd.DataFrame(
    {
        'Column1':[1 , np.nan , 7],
        'Column2':[np.nan , 3 , np.nan],
        'Column3':[8 , np.nan , 10]
    }
)

In [ ]:
pd.isnull(a)

   Column1  Column2  Column3
0    False     True    False
1     True    False     True
2    False     True    False

In [ ]:
a [ pd.isnull(a) ]

   Column1  Column2  Column3
0      NaN      NaN      NaN
1      NaN      NaN      NaN
2      NaN      NaN      NaN

In [ ]:
a.index = ['Row1','Row2','Row3']

In [ ]:
a

      Column1  Column2  Column3
Row1      1.0      NaN      8.0
Row2      NaN      3.0      NaN
Row3      7.0      NaN     10.0

##Pandas Operations with missing values

In [ ]:
pd.Series([1 , 2 , np.nan]).sum()

3.0

In [ ]:
pd.Series([1 , 2 , 3 , np.nan]).mean()

2.0

In [ ]:
pd.Series([1 , 2 , 4 , np.nan]).count()

3

##**Filtering missing values**

In [ ]:
s = pd.Series([1 , 2 , 3 , np.nan , 4])

In [ ]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [ ]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [ ]:
pd.notnull(s).count()   # count of non null numbers

5

In [ ]:
pd.isnull(s).count()    # count of null numbers

5

In [ ]:
pd.notnull(s).sum()

4

In [ ]:
pd.isnull(s).sum()   #  number of null values

1

In [ ]:
s.notnull()

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [ ]:
s.isnull()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [ ]:
# Conditional selection

s [ s.notnull() ]

0    1.0
1    2.0
2    3.0
4    4.0
dtype: float64

In [ ]:
s [ s.isnull() ]

3   NaN
dtype: float64

In [ ]:
s.notnull().sum()   # count of non null numbers

# True = 1    False = 0
# since we are considering not null first, we get a boolean array of 1 and 0 -> on that when we calculate sum -> we get the count of not null numbers -> 1+1+1+0+1 = 4

4

# Dropping Values

In [ ]:
s.dropna()    # -> 'na' is used to drop values

0    1.0
1    2.0
2    3.0
4    4.0
dtype: float64

Dataframes

In [ ]:
df = pd.DataFrame(
    {
'Column A': [1, np.nan, 30, np.nan],
'Column B': [2, 8, 31, np.nan],
'Column C': [np.nan, 9, 32, 1001],
'Column D': [5, 8, 34, 110],
    }
)

In [ ]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN    1001.0       110

In [ ]:
df.head()

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN    1001.0       110

In [ ]:
df.notnull()

   Column A  Column B  Column C  Column D
0      True      True     False      True
1     False      True      True      True
2      True      True      True      True
3     False     False      True      True

In [ ]:
pd.notna(df)

   Column A  Column B  Column C  Column D
0      True      True     False      True
1     False      True      True      True
2      True      True      True      True
3     False     False      True      True

Dropping null values on Dataframe

In [ ]:
~(pd.isna(df))  # -> equivalent to pd.notnull()

   Column A  Column B  Column C  Column D
0      True      True     False      True
1     False      True      True      True
2      True      True      True      True
3     False     False      True      True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 256.0 bytes

In [ ]:
df.notnull().sum()  # ->  we get count of non null values in each column

Column A    2
Column B    3
Column C    3
Column D    4
dtype: int64

In [ ]:
df.shape

(4, 4)

In [ ]:
df.dropna(axis='columns')   # or, axis = 1 -> drop records with nan values

   Column D
0         5
1         8
2        34
3       110

In [ ]:
df.dropna(axis=0)

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

### We can define the behaviour of dropping of nll values in dataframe

how='any' -> default behaviour ; records/attributes(depending on axis) with at least one null value is droppped

how='all' -> only those records/columns with all values as nan are dropped

In [ ]:
df.dropna(how='any')

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [ ]:
df.dropna(axis=0 , how='all')

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN    1001.0       110

In [ ]:
df.dropna(axis=1, how='all')

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN    1001.0       110

In [ ]:
df.dropna(axis=1 , how='any')

   Column D
0         5
1         8
2        34
3       110

We can also define a threshold -> minimum number of values that a row / columns must have in order to be not dropped

In [ ]:
df.dropna(thresh=3)   # -> rows 0,1,2 have 3 valid values therefore not dropped ; row 3 has 2 not null values (<3) so dropped

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34

In [ ]:
df.dropna(thresh=3 , axis='columns')

   Column B  Column C  Column D
0       2.0       NaN         5
1       8.0       9.0         8
2      31.0      32.0        34
3       NaN    1001.0       110

## Once, null values are found -> we can fill them

In [ ]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
dtype: float64

In [ ]:
s.fillna(0)  # -> filling with 0

0    1.0
1    2.0
2    3.0
3    0.0
4    4.0
dtype: float64

In [ ]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
dtype: float64

In [ ]:
s.fillna(s.mean())  # -> filling with some statistical value

0    1.0
1    2.0
2    3.0
3    2.5
4    4.0
dtype: float64

However, none of these methods are immutable.
Therefore, it works on the a view of the Series

The below filling methods -> use the closest number to fill -> number closest to the null value

In [ ]:
s.fillna(method = 'ffill')  # -> values are picked from top

0    1.0
1    2.0
2    3.0
3    3.0
4    4.0
dtype: float64

In [ ]:
s.fillna(method = 'bfill')  # -> values are picked from bottom

0    1.0
1    2.0
2    3.0
3    4.0
4    4.0
dtype: float64

In [ ]:
pd.Series([np.nan , 2 , np.nan , 9]).fillna(method='ffill')

0    NaN
1    2.0
2    2.0
3    9.0
dtype: float64

In [ ]:
pd.Series([np.nan , 2 , np.nan , 9]).fillna(method='bfill')

0    2.0
1    2.0
2    9.0
3    9.0
dtype: float64

In [ ]:
pd.Series([np.nan , 2 , 9 , np.nan]).fillna(method='bfill')

0    2.0
1    2.0
2    9.0
3    NaN
dtype: float64

## Filling null values on dataframes

In [ ]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN    1001.0       110

### In a dataframe, we can assign filler values for each column

In [ ]:
df.fillna(
    {
      'Column A':0,
      'Column B':99,
      'Column C':round(df['Column C'].mean() , 2)
    }
)

   Column A  Column B  Column C  Column D
0       1.0       2.0    347.33         5
1       0.0       8.0      9.00         8
2      30.0      31.0     32.00        34
3       0.0      99.0   1001.00       110

Using filling methods

In [ ]:
df.fillna(method='ffill')

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0    1001.0       110

In [ ]:
df.fillna(method='bfill')

   Column A  Column B  Column C  Column D
0       1.0       2.0       9.0         5
1      30.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN    1001.0       110

In [ ]:
df.fillna(method='ffill' , axis=1)

   Column A  Column B  Column C  Column D
0       1.0       2.0       2.0       5.0
1       NaN       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3       NaN       NaN    1001.0     110.0

In [ ]:
df.fillna(method='bfill' , axis=1)

   Column A  Column B  Column C  Column D
0       1.0       2.0       5.0       5.0
1       8.0       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3    1001.0    1001.0    1001.0     110.0

In [ ]:
pd.Series(['True','False','True']).any()

True

In [ ]:
pd.Series(['True','False','True']).all()

True

## CLEANING NOT NULL VALUES

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        'Sex':['M','F','F','D','?'],
        'Age':[29, 30, 24, 290, 25],
    }
)

In [ ]:
df

  Sex  Age
0   M   29
1   F   30
2   F   24
3   D  290
4   ?   25

In [ ]:
# to find unique sex

df['Sex'].unique()   # uniques are found in particular columns

array(['M', 'F', 'D', '?'], dtype=object)

In [ ]:
df['Sex'].value_counts()   # a dataframe is a dictionary -> so, value_counts gives us count of each value of the attribute

F    2
M    1
D    1
?    1
Name: Sex, dtype: int64

### Replacing values

In [ ]:
df['Sex'].replace('D','F')

0    M
1    F
2    F
3    F
4    ?
Name: Sex, dtype: object

.replace() function accepts dictionary as its argument as well

In [ ]:
df['Sex'].replace( { 'D':'F' , 'N':'M' } )

0    M
1    F
2    F
3    F
4    ?
Name: Sex, dtype: object

### If replaces are to performed on multiple columns, we can apply it on a dataframe level as well

In [ ]:
df = df.replace(
    {
        'Sex' : {
            'D':'F',
            'N':'M',
            '?':'M'
        },
        'Age' : {
            290:29
        }
    }
)

In [ ]:
df

  Sex  Age
0   M   29
1   F   30
2   F   24
3   F   29
4   M   25

### Cleaning Duplicates

In [ ]:
import pandas as pd

In [ ]:
ambassadors = pd.Series(
    [
' France',
'United Kingdom' ,
'United Kingdom' ,
' Italy',
'Germany' ,
'Germany' ,
'Germany' ,
],
index=[
'Grard Araud' ,
'Kim Darroch',
'Peter Westmacott' ,
'Armando Varricchio' ,
'Peter Wittig' ,
'Peter Ammon',
'Klaus Scharioth'
])

In [ ]:
ambassadors

Grard Araud                  France
Kim Darroch           United Kingdom
Peter Westmacott      United Kingdom
Armando Varricchio             Italy
Peter Wittig                 Germany
Peter Ammon                  Germany
Klaus Scharioth              Germany
dtype: object

In [ ]:
ambassadors.to_frame()

                                 0
Grard Araud                France
Kim Darroch         United Kingdom
Peter Westmacott    United Kingdom
Armando Varricchio           Italy
Peter Wittig               Germany
Peter Ammon                Germany
Klaus Scharioth            Germany

In [ ]:
ambassadors.columns

AttributeError: ignored

## Two main methods to deal with duplicates are:

### duplicated -> tells you which values are duplicated

### drop_duplicates -> to get rid of duplicates

In [ ]:
ambassadors.duplicated()

Grard Araud          False
Kim Darroch           False
Peter Westmacott       True
Armando Varricchio    False
Peter Wittig          False
Peter Ammon            True
Klaus Scharioth        True
dtype: bool

### Here, the first instance of a records in not considered as duplicated but all the following similar records are

Can be edited with the 'keep' parameter

In [ ]:
ambassadors.duplicated( keep = 'last' )

Grard Araud          False
Kim Darroch            True
Peter Westmacott      False
Armando Varricchio    False
Peter Wittig           True
Peter Ammon            True
Klaus Scharioth       False
dtype: bool

### Now, the last occurrence of a record is not treated as a duplicate; rest are

We can also choose to invert the behaviour of this duplicated() function

In [ ]:
ambassadors.duplicated( keep = False )   #indicated duplicated with True => all records are considered in this

Grard Araud          False
Kim Darroch            True
Peter Westmacott       True
Armando Varricchio    False
Peter Wittig           True
Peter Ammon            True
Klaus Scharioth        True
dtype: bool

To drop duplicated

In [ ]:
ambassadors.drop_duplicates()

Grard Araud                  France
Kim Darroch           United Kingdom
Armando Varricchio             Italy
Peter Wittig                 Germany
dtype: object

In [ ]:
ambassadors.drop_duplicates( keep = 'last' )   # last instances are kept

Grard Araud                  France
Peter Westmacott      United Kingdom
Armando Varricchio             Italy
Klaus Scharioth              Germany
dtype: object

In [ ]:
ambassadors.drop_duplicates( keep = False )  # duplicates are True therefore only False ones are kept -> non-duplicates

Grard Araud           France
Armando Varricchio      Italy
dtype: object

### Duplicates in DataFrames

In [ ]:
players = pd.DataFrame(
    {
    'Name' : [
        'Kobe Bryant' ,
        'LeBron James',
        'Kobe Bryant',
        'Carmelo Anthony' ,
        'Kobe Bryant' ,
    ],
    'Position' : [
        'SG',
        'SF',
        'SG',
        'SF',
        'SF'
    ]
    }
)

In [ ]:
players

              Name Position
0      Kobe Bryant       SG
1     LeBron James       SF
2      Kobe Bryant       SG
3  Carmelo Anthony       SF
4      Kobe Bryant       SF

In [ ]:
players.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [ ]:
players.duplicated( keep = 'last' )

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
players.duplicated( keep = False )

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [ ]:
players.drop_duplicates()

              Name Position
0      Kobe Bryant       SG
1     LeBron James       SF
3  Carmelo Anthony       SF
4      Kobe Bryant       SF

### In dataframes, we can apply the duplicated() function on varied subsets of the dataframe

In [ ]:
players.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [ ]:
players.duplicated( subset='Name' )   # different from the above one, because there Position was also considered

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [ ]:
players.duplicated( subset='Position' )

0    False
1    False
2     True
3     True
4     True
dtype: bool

subset and keep parameters can be applied together as well

In [ ]:
players.duplicated( keep = 'last' , subset = ['Name'] )  # -> subset column requires square brackets

0     True
1    False
2     True
3    False
4    False
dtype: bool

# **Very Important Section**

In [ ]:
df = pd.DataFrame(
    {
        'Data' : [
            '1987_M_US_1',
            '1990?_M_UK_1',
            '1992_F_US_2',
            '1970?_M_IT_1',
            '1985_F_I T_2'
        ]
    }
)

In [ ]:
df

           Data
0   1987_M_US_1
1  1990?_M_UK_1
2   1992_F_US_2
3  1970?_M_IT_1
4  1985_F_I T_2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

### Here, the datatype of the column is string -> and, we need to split the content in data column to different columns

In [ ]:
df['Data'].str.split('_')

0     [1987, M, US, 1]
1    [1990?, M, UK, 1]
2     [1992, F, US, 2]
3    [1970?, M, IT, 1]
4    [1985, F, I T, 2]
Name: Data, dtype: object

Just like the .str attribute used for 'Data' column -> There are different for another data types

**.cat  -> for categorical functions  ;  different for datetime**

We use the special parameter 'expand' of split function so that we are returned a dataframe

In [ ]:
df['Data'].str.split( '_' , expand = True )

       0  1    2  3
0   1987  M   US  1
1  1990?  M   UK  1
2   1992  F   US  2
3  1970?  M   IT  1
4   1985  F  I T  2

In [ ]:
df = df['Data'].str.split( '_' , expand = True )

In [ ]:
df

       0  1    2  3
0   1987  M   US  1
1  1990?  M   UK  1
2   1992  F   US  2
3  1970?  M   IT  1
4   1985  F  I T  2

In [ ]:
# further cleaning


df.columns = ['Year','Sex','Country','Number Of Children']
df['Year'] = (df['Year'].str.strip())   # important point is that we can use the strip attribute only if we use the str attribute

In [ ]:
df

    Year Sex Country Number Of Children
0   1987   M      US                  1
1  1990?   M      UK                  1
2   1992   F      US                  2
3  1970?   M      IT                  1
4   1985   F     I T                  2

In [ ]:
df.iloc[-1].dtype  # -> 'O' = Object

dtype('O')

In [ ]:
(df['Year'].iloc[1])[:4]

'1990'

In [ ]:
(df['Year'].iloc[4])[:4]

'1985'

In [ ]:
df['Year'].iloc[4] = (df['Year'].iloc[4])[:4]

In [ ]:
for i in range(5):
  df['Year'].iloc[i] = (df['Year'].iloc[i])[:4]  # -> since length of year is 4

In [ ]:
df

   Year Sex Country Number Of Children
0  1987   M      US                  1
1  1990   M      UK                  1
2  1992   F      US                  2
3  1970   M      IT                  1
4  1985   F     I T                  2

In [ ]:
df['Sex'].str.strip()
df['Country'].str.strip()
df['Number Of Children'].str.strip()

0    1
1    1
2    2
3    1
4    2
Name: Number Of Children, dtype: object

In [ ]:
df

   Year Sex Country Number Of Children
0  1987   M      US                  1
1  1990   M      UK                  1
2  1992   F      US                  2
3  1970   M      IT                  1
4  1985   F     I T                  2

In [ ]:
df['Country'].iloc[4] = df['Country'].iloc[4].replace(' ','')

In [ ]:
df

   Year Sex Country Number Of Children
0  1987   M      US                  1
1  1990   M      UK                  1
2  1992   F      US                  2
3  1970   M      IT                  1
4  1985   F      IT                  2

### **Regular expressions can also be used**